src/main/app/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="api" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="BBC_HTTP_Request_Configuration" host="www.bbc.co.uk" port="80" doc:name="HTTP Request Configuration"/>
    <mongo:config name="Mongo_DB" username="notused" database="MuleDb" doc:name="Mongo DB"/>
    <flow name="testFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/helloworld" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <http:request config-ref="BBC_HTTP_Request_Configuration" path="news" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="MongoDB_Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mongodb" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="now" value="#[server.dateTime]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="1d803539-79e1-4b3b-95cf-74cbbc29357c">
            <dw:input-payload doc:sample="sample_data\string.dwl" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	pudding: payload.pudding,
	amount: payload.amount,
	createdTimestamp: flowVars.now as :string
}]]></dw:set-payload>
        </dw:transform-message>
        <mongo:json-to-dbobject doc:name="Mongo DB"/>
        <mongo:insert-object config-ref="Mongo_DB" collection="pudding" doc:name="Mongo DB"/>
    </flow>
</mule>
