src/main/app/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="BBC">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/bbc" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger" message="test"/>
        <http:request config-ref="BBC_HTTP_Request_Configuration" path="news" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="FakeJsonAPI">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jsonApi" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger" message="test"/>
        <http:request config-ref="jsonplaceholder_HTTP_Request_Configuration" path="/users" method="GET" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="5783f9fe-4f50-45e6-b84a-a399f0bae6a8">
            <dw:input-payload doc:sample="jsonplaceholder1.json" mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	name: dasherize payload01.name
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
       
    <flow name="MongoDB_Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/mongodb" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="now" value="#[server.dateTime]" doc:name="Set dateTime flow variable"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="1d803539-79e1-4b3b-95cf-74cbbc29357c">
            <dw:input-payload doc:sample="pudding.json" mimeType="application/json"/>
            <dw:input-variable doc:sample="sample_data\DateTime_6.dwl" variableName="now"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	data: payload,
	createdTimestamp: flowVars.now as :string
}]]></dw:set-payload>
        </dw:transform-message>
        <mongo:json-to-dbobject doc:name="Json to dbobject"/>
        <mongo:insert-object config-ref="Mongo_DB" collection="pudding" doc:name="Insert into Mongo DB pudding collection"/>
    </flow>
</mule>
